
body{
    margin: 0;
    background: #ffc600;
}



.controls{
 display:flex;
 justify-content: center;
 align-items: center;
 margin-top:5%;
 padding: 20px;
}

.controls input[type = "text"]{
    width: 100%;
    height:5vh;
}
.controls input[type="submit"] {
    height:5vh;
    cursor: pointer;
}
.controls label{
    font-size: 5vh;
    color:rgb(222, 25, 25);
}

.error{
    color: red;
    display: none;
}

.video-download{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-download img {
    display: block;
    width: 30rem;
        /* Adjust the width to your desired size */
        height: 30rem;
        /* Adjust the height to your desired size */
        object-fit: cover;
        /* Maintain aspect ratio and cover the entire container */
        border: 2px solid #333;

}
.video-download a {
    display: block;
    background-color: rgb(44, 153, 241);
    color: white;
    font-size: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    width:10rem
}
.errors{
    color: red;
    display: none;
}
 